# ==============================
# Backend / FastAPI
# ==============================
BackEnd/__pycache__/
BackEnd/*.py[cod]
BackEnd/*.pyo
BackEnd/*.env
BackEnd/logs/
BackEnd/.venv/
BackEnd/venv/
BackEnd/.env.development
BackEnd/.env copy.development
BackEnd/.env.production
BackEnd/clean_cache.sh
BackEnd/init_migration.sh
BackEnd/Postgres*

# # Python caches
**/__pycache__/
**/*.py[cod]


# Alembic compiled files
BackEnd/alembic/__pycache__/
BackEnd/alembic/versions/__pycache__/

# ==============================
# Frontend / Node
# ==============================
FrontEnd/node_modules/
FrontEnd/dist/
FrontEnd/build/
FrontEnd/.env
FrontEnd/.env.development
FrontEnd/.env.production


# ==============================
# IDE / OS files
# ==============================
.vscode/
.idea/
.DS_Store
*.swp
*.swo

start_backend.sh
start_frontend.sh
start.sh
stop.sh
test_complete_app.py
test_connection.py

#docker
docker-compose.yml

# Database
Postgres/

*.pyc

__pycache__/
*.pyc

# Node / React / Vite
node_modules/
.vite/
dist/
