@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Sintony", sans-serif;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}
